# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# Databases
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Alembic
alembic/versions/*.py

# Uploads
uploads/

# Temporary
tmp/
temp/

test*