# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
__pycache__

# Node.js
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env

# Databases
database/data/

# OS
.DS_Store
Thumbs.db

GEMINI.md
test*
.env